spring:
  ai:
    mcp:
      client:
        enabled: true
        type: SYNC
        toolcallback:
          enabled: true
        stdio:
          connections: {}
        streamable-http:
          connections:
            mcp-helpdesk-ticket-server:
              url: http://helpdesk-mcp:8082
              endpoint: /mcp

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
